<div class="avail align">
	<div class="container">
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10">
				<div class="available">
					<div class="row">
						<div class="col-xs-offset-1 col-xs-10">
							<div class="img-avail">
								<img src="img/available.png" alt="Floral" class="img-responsive">
								<p>we are available at the below stockists</p>
							</div>
							<div class="stock">
								<div class="stock-list1 divide">
									<div class="row">
										<div class="col-md-4">
											<div class="hper">
												<img src="img/available/hyper.png" alt="hyper" class="img-responsive">
											</div>
										</div>
										<div class="col-md-4">
											<div class="vb">
												<img src="img/available/vbfood.png" alt="" class="img-responsive">
											</div>
										</div>
										<div class="col-md-4">
											<img src="img/available/kalma.png" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="stock-list2 divide">
									<div class="row">
										<div class="col-md-4">
											<div class="cons"><img src="img/available/cons.png" alt="" class="img-responsive"></div>
										</div>
										<div class="col-md-4">
											<div class="east"><img src="img/available/east-end.png" alt="" class="img-responsive"></div>
										</div>
										<div class="col-md-4">
											<div class="sains"><img src="img/available/sains.png" alt="" class="img-responsive"></div>
										</div>
									</div>
								</div>
								<div class="stock-list3 divide">
									<div class="row">
										<div class="col-md-4">
											<div class="pak"><img src="img/available/pak_foods.png" alt="" class="img-responsive"></div>
										</div>
										<div class="col-md-4">
											<div class="tesco"><img src="img/available/tesco.png" alt="" class="img-responsive"></div>
										</div>
										<div class="col-md-4">
											<div class="quality"><img src="img/available/quality.png" alt="" class="img-responsive"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>